.btn-comp {

  display: block;
  /** 
   font-size controla o espaço entre os botões, por serem
   display: inline-block 
  */
  font-size: 0;
  width: 100%;
  &.align-right { text-align: right; }
  &.align-left { text-align: left; }

  .btn {
    display: block;
    // font-size: .875rem; /* equivalente a 14px - melhora o aspecto do ellipsis-v */
    line-height: 1.6rem;
    margin: 0;
    min-width: 32px;
    padding: 0.35rem 0.5em;
    overflow: hidden;
    width: 100%;
  }
  .btn-col {
    display: inline-block;
    min-width: 32px;
    vertical-align: middle;
    width: 100%;
  }
  .btn-col.full {
    width: 100%;
  }
  .btn-col,
  .btn-col.small {
    width: 32.16666%;
  }
  .btn-col + .btn-col {
    margin-left: 1.75%;
  }
  .btn-col.dropdown {
    position: relative;
  }
  .btn-col .icon {
    font-size: 14px;
    line-height: 1;
  }
  .btn-col.dropdown .dropdown-menu {
    left: auto;
    right: 0;
  }
  .btn-col.dropdown.boxed .btn {
    height: 4.05rem;
  }
  .btn-col.dropdown .dropdown-toggle::after {
    display: none;
  }
  .btn-col.boxed.dropdown .icon {
    font-size: 28px;
    vertical-align: middle;
  }
  .btn-col.boxed .text,
  .btn-col.-slim .text { display: block; }
}

@each $resolution in map-keys($resolution-list) {
  @include make-breakpoint($resolution) {
    .btn-comp {
      .btn-col.small-#{$resolution} { width: 32.16666%; }
      .btn-col.full-#{$resolution} { width: 100%; }
      .btn-col.offset-#{$resolution}-on { margin-left: (32.16666% + (1.75% * 2)); }
      .btn-col.offset-#{$resolution}-off { margin-left: 0; }
      .btn-col + .btn-col.offset-#{$resolution}-off { margin-left: 1.75%; }
      .btn-col.dropdown.boxed-#{$resolution} .btn {
        height: 4.05rem;
      }
      .btn-col.dropdown.slim-#{$resolution} .btn {
        height: inherit;
      }
      .btn-col.boxed-#{$resolution}.dropdown .icon {
        font-size: 28px;
        vertical-align: middle;
      }
      .btn-col.slim-#{$resolution}.dropdown .icon {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}
/**
 * Este trecho especifica que os texto dos botões, quando
 * dentro de um span.text, serão ocultos a partir da largura 'lg'
 * deixando de ser 'boxed'
 */
@include make-breakpoint(lg) {
  .btn-comp {
    .btn-col[class*="boxed"] .text{ display: none; }
    .btn-col[class*="slim"] .text{ display: inline-block; }
  }
}