.button-table {
  border-collapse: separate;
	border-spacing: 2px 0;
  clear: both;
  display: table;
  margin-left: -4px;
	position: relative;
  width: calc(100% + 10px);
}
@media (min-width: 768px) {
	.button-table {
		width: calc(100% + 4px);
	}
}
.button-cell { display: table-cell; }
.button-cell + .button-cell { padding-left: 2px; }
.button-cell .btn {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.button-cell.w25 { width: 25%; }
.button-cell.w33 { width: 33.33333%; }
.button-cell.w50 { width: 50%; }
.button-cell.w66 { width: 66.66666%; }
.button-cell.w75 { width: 75%; }

.button-cell.w25,
.button-cell.w33,
.button-cell.w50,
.button-cell.w66,
.button-cell.w75 {
	display: inline-block;
	min-width: 32px;
	vertical-align: middle;
}
