.button-table {
  clear: both;
  display: table;
  margin-left: -4px;
  width: calc(100% + 12px);
}
.button-cell {
  display: inline-block;
	min-width: 32px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
.button-cell .btn {
  display: block;
  margin: 0 auto;
  min-width: 32px;
  overflow: hidden;
  width: 100%;
}

.button-cell-1,
.button-cell-xs-1 { width: 33.33333%; }
.button-cell-2,
.button-cell-xs-2 { width: 66.66666%; }
.button-cell-3,
.button-cell-xs-3 { width: 100%; }
.button-cell-1 .fa,
.button-cell-2 .fa { display: block }
.button-cell-offset-0,
.button-cell-offset-xs-0 { margin-left: 0; }
.button-cell-offset-1,
.button-cell-offset-xs-1 { margin-left: calc(33.33333% - 4px); }
.button-cell-offset-2,
.button-cell-offset-xs-2 { margin-left: calc(66.66666% - 4px); }

@media (min-width: 544px) {
  .button-cell-sm-1 { width: 33.33333%; }
  .button-cell-sm-2 { width: 66.66666%; }
  .button-cell-sm-3 { width: 100%; }
  .button-cell-offset-sm-0 { margin-left: 0; }
  .button-cell-offset-sm-1 { margin-left: calc(33.33333% - 4px); }
  .button-cell-offset-sm-2 { margin-left: calc(66.66666% - 4px); }
}
@media (min-width: 768px) {
  .button-cell-md-1 { width: 33.33333%; }
  .button-cell-md-2 { width: 66.66666%; }
  .button-cell-md-3 { width: 100%; }
  .button-cell-offset-md-0 { margin-left: 0; }
  .button-cell-offset-md-1 { margin-left: calc(33.33333% - 4px); }
  .button-cell-offset-md-2 { margin-left: calc(66.66666% - 4px); }
}
@media (min-width: 992px) {
  .button-cell-lg-1 { width: 33.33333%; }
  .button-cell-lg-2 { width: 66.66666%; }
  .button-cell-lg-3 { width: 100%; }
  .button-cell-offset-lg-0 { margin-left: 0; }
  .button-cell-offset-lg-1 { margin-left: calc(33.33333% - 4px); }
  .button-cell-offset-lg-2 { margin-left: calc(66.66666% - 4px); }
}
@media (min-width: 1200px) {
  .button-cell-xl-1 { width: 33.33333%; }
  .button-cell-xl-2 { width: 66.66666%; }
  .button-cell-xl-3 { width: 100%; }
  .button-cell-offset-xl-0 { margin-left: 0; }
  .button-cell-offset-xl-1 { margin-left: calc(33.33333% - 4px); }
  .button-cell-offset-xl-2 { margin-left: calc(66.66666% - 4px); }
}

@media (min-width: 992px) {
  .button-table {
    margin-left: -3px;
    text-align: right;
    width: calc(100% + 6px);
  }
  .button-cell {
    padding-left: 2px;
    padding-right: 2px;
  }
  .button-cell .fa {
  	display: inline;
  }
}
