.button-table {
  border-collapse: separate;
	border-spacing: 2px 0;
  display: table;
	position: relative;
  width: 100%;
}
.button-cell { display: table-cell; }
.button-cell + .button-cell { padding-left: 2px; }
.button-cell .btn {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.button-cell.w25 { width: 25%; }
.button-cell.w33 { width: 33.33333%; }
.button-cell.w50 { width: 50%; }
.button-cell.w66 { width: 66.66666%; }
.button-cell.w75 { width: 75%; }
