.btn-table {
  clear: both;
  display: table;
  margin-left: -4px;
  width: calc(100% + 12px);
}
.btn-cell {
  display: inline-block;
	min-width: 32px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
.btn-cell .btn {
  display: block;
	font-size: 1rem;
  margin: 0 auto;
  min-width: 32px;
	padding: 0.35rem 0.5em;
  overflow: hidden;
  width: 100%;
}
.btn-cell .btn > .fa { line-height: 1.6rem; }
.btn-cell-dropdown { position: relative; }
.btn-cell-dropdown .dropdown-menu {
	left: auto;
	right: 2px;
}

.btn-cell-1 { width: 33.33333% !important; }
.btn-cell-2 { width: 66.66666% !important; }
.btn-cell-3 { width: calc(100% - 2px) !important; }
.btn-cell-1 .btn > .fa,
.btn-cell-2 .btn > .fa,
.btn-cell-boxed .btn > .fa { display: block !important; }
.btn-cell-slim .fa { display: inline-block !important; }
.btn-cell-offset-0 { margin-left: 0 !important; }
.btn-cell-offset-1 { margin-left: calc(33.33333% - 4px) !important; }
.btn-cell-offset-2 { margin-left: calc(66.66666% - 4px) !important; }

@each $resolution in map-keys($resolution-list) {
  @include make-breakpoint($resolution) {
    .btn-cell-#{$resolution}-1 { width: 33.33333% !important; }
    .btn-cell-#{$resolution}-2 { width: 66.66666% !important; }
    .btn-cell-#{$resolution}-3 { width: 100% !important; }
    .btn-cell-offset-#{$resolution}-0 { margin-left: 0 !important; }
    .btn-cell-offset-#{$resolution}-1 { margin-left: calc(33.33333% - 4px) !important; }
    .btn-cell-offset-#{$resolution}-2 { margin-left: calc(66.66666% - 4px) !important; }
    .btn-cell-boxed-#{$resolution} .fa { display: block !important; }
    .btn-cell-slim-#{$resolution} .fa { display: inline-block !important; }
  }
}
@include make-breakpoint(lg) {
  .btn-table {
    margin-left: -3px;
    text-align: right;
    width: calc(100% + 6px);
  }
  .btn-cell {
    padding-left: 2px;
    padding-right: 2px;
  }
}
