.list-table { clear: both; }
.list-table-header {
	border-bottom: 1px solid #eaeaea;
	float: left;
	padding-bottom: 1rem;
	width: 100%;
}
.list-table-header .header { font-weight: 600; }
.list-table-item {
	border-bottom: 1px solid #eaeaea;
	clear: both;
	float: left;
	padding-bottom: 1rem;
	padding-top: 1rem;
	width: 100%;
}
.list-table-item:nth-child(2n+1) {
	background-color: whitesmoke;
}
.list-table.inverse .list-table-item {
	border-bottom: 1px solid #eaeaea;
}
.list-table.inverse .list-table-item:nth-child(2n+1) {
	background-color: #fafafa;
}
