@mixin utility-generate ($class, $property, $size) {
  .#{$class} { #{$property}: $size !important; }
  .#{$class}-y {
    #{$property}-bottom: $size !important;
    #{$property}-top: $size !important;
  }
  .#{$class}-x {
    #{$property}-left: $size !important;
    #{$property}-right: $size !important;
  }
  @each $resolution in map-keys($resolution-list) {
    @include make-breakpoint($resolution) {
      .#{$class}-#{$resolution} { #{$property}: $size !important; }
      .#{$class}-y-#{$resolution} {
        #{$property}-bottom: $size !important;
        #{$property}-top: $size !important;
      }
      .#{$class}-x-#{$resolution} {
        #{$property}-left: $size !important;
        #{$property}-right: $size !important;
      }
      @each $corner in $corner-list {
        $c-k: nth($corner, 1);
        $c-v: nth($corner, 2);
        .#{$class}-#{$c-k}-#{$resolution} { #{$property}-#{$c-v}: $size !important; }
      }
    }
  }
}
/** margin **/
@include utility-generate(m, margin, 1rem);
@include utility-generate(half-m, margin, .5rem);
@include utility-generate(-m, margin, 0);
/** padding **/
@include utility-generate(p, padding, 1rem);
@include utility-generate(half-p, padding, .5rem);
@include utility-generate(-p, padding, 0);
/** border **/
@include utility-generate(b, border, var(--border));
@include utility-generate(-b, border, none);
/**/

.clear { clear: both !important; }
.-clear { clear: none !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.without-label::before {
	content: " ";
	display: block;
	height: 1.5rem;
}
@each $resolution in map-keys($resolution-list) {
  @include make-breakpoint($resolution) {
    .clear-#{$resolution} { clear: both !important; }
    .-clear-#{$resolution} { clear: none !important; }
    .text-left-#{$resolution} { text-align: left !important; }
    .text-center-#{$resolution} { text-align: center !important; }
    .text-right-#{$resolution} { text-align: right !important; }
    .without-label-#{$resolution}::before {
    	content: " ";
    	display: block;
    	height: 1.5rem;
    }
  }
}
