@import "_variables.scss";


@mixin make-breakpoint($resolution) {
  $res: map-get($resolution-list, $resolution);
  @if $res != 0 {
    @media (min-width: #{$res}) {
      @content;
    }
  } @else {
    @content;
  }
};
@mixin make-interval($resolution) {
  $min: map-get($resolution-list, $resolution);
  $max: map-get($resolution-list-max, $resolution);
  @if $max {
    @media  (min-width: #{$min}) and ( max-width: #{$max} ) {
      @content;
    }
  } @else {
    @media (min-width: #{$min}) {
      @content;
    }
  }
};
