$resolution-list: (xs:0, sm: 544px, md: 768px, lg: 992px, xl: 1200px, hg: 1304px);
$resolution-list-max: (xs: 543px, sm: 767px, md: 991px, lg: 1199px, hg: 1303px);
$corner-list: (t:top, r:right, b:bottom, l:left);

$border-color: #eaeaea;
